<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pb_termsconditions>
            <general>
                <enable>0</enable>
                <route>termsconditions</route>
                <page_title>Terms &amp; Conditions</page_title>
            </general>
            <sitemap>
                <add_to_sitemap>1</add_to_sitemap>
                <priority>0.5</priority>
                <change_frequency>monthly</change_frequency>
            </sitemap>
        </pb_termsconditions>
    </default>
</config>
